<div class="ui raised container segment">
  <div class="ui secondary pointing menu">
    <a class="item" href="http://127.0.0.1:4200/">
      Home
    </a>
    <a class="item" href="https://ppe-boards-nathan-theo.herokuapp.com/developers">
      Developers
    </a>
    <a class="item" href="https://ppe-boards-nathan-theo.herokuapp.com/projects">
      Projects
    </a>
  </div>
{{outlet}}
</div>