<div class="ui raised container segment">
  <div class="ui secondary pointing menu">
    <a class="item" href="https://ppe-boards-nathan-theo.herokuapp.com">
      Home
    </a>
    <a class="item" href="https://ppe-boards-nathan-theo.herokuapp.com/developers">
      Developers
    </a>
    <a class="item" href="https://ppe-boards-nathan-theo.herokuapp.com/project">
      Projects
    </a>
  </div>
{{outlet}}
</div>