<div class="ui raised container segment">
  <div class="ui secondary pointing menu">
    <a class="item" href="http://127.0.0.1:4200/">
      Home
    </a>
    <LinkTo @route="developers">
      <a class="item" >
        Developers
      </a>
    </LinkTo>
    <LinkTo @route="projects">
      <a class="item">
        Projects
      </a>
    </LinkTo>
  </div>
{{outlet}}
</div>